<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./partials/navbar.ejs', { user: currentUser }) %>
  <div class="container mt-5 pt-4">
    <h2>User Details</h2>
    <p><strong>ID:</strong> <%= user.id %></p>
    <p><strong>First Name:</strong> <%= user.FirstName || '' %></p>
    <p><strong>Last Name:</strong> <%= user.LastName || '' %></p>
    <p><strong>Username:</strong> <%= user.Username %></p>
    <p><strong>Role:</strong> <%= user.Role %></p>
  </div>
</body>
</html>
